body {
    font-family: Roboto;
    color: #212121;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

/* контейнер для работы */

.page-header .container {
    display: flex;
    align-items: center;
}

.container {
    /* phone screen */
    min-width: 320px;
    max-width: 428px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;

   
    /*
    margin-left: auto;
    margin-right: auto;
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    */
}



/* tablet screen */
@media screen and (min-width:480px) {
    .head {
        height: 70px;
        align-items: center;
    }
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 736px;
    }
}

/* desktop screen */

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1158px;
    }
    .head {
        display: flex;
        align-items: center;
    }
}


/* шапка */
.page-header {
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
}

a {
    text-decoration: none;
}

.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.logo {
    display: inline-block;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.color-logo {
    color: #4D5AE5;
}



/* Навігація  */

nav {
    display: flex;
    align-items: center;
}

.site-nav {
    display: flex;
    margin-left: 93px;

}

/* меню мобільне */

.head {
    display: flex;
}

@media screen and (min-width:767px) {
    .menu-toggle {
        visibility: hidden;
        display: none;
    }

    .menu-container {
        visibility: hidden;
        display: none;
    }
}

/* @media screen and (min-width:1200px) {
    .menu-toggle {
        visibility: hidden;
        display: none;
    }

    .menu-container {
        visibility: hidden;
        display: none;
    }
} */



.menu-modal-close {
    width: 24px;
    height: 24px;

}


.menu-button-close {
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 24px;
    height: 24px;
}

.menu-toggle {
    

    margin-left: auto;
    min-height: 40px;
    min-width: 40px;
   
    align-items: center;
    justify-content: center;
  
    
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
  }

.menu-container {
    display: flex;
    flex-direction: column;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 40px;
    
    background: #FFFFFF;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
    0px 1px 1px rgba(46, 47, 66, 0.16), 
    0px 1px 6px rgba(46, 47, 66, 0.08);
    z-index: 999;
  
     transform: translateX(100%);
    transition: transform 250ms ease-in-out;
  }
  
  .menu-container.is-open {
    transform: translateX(0);
  }
  
  .menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: #fff;
  }

  .mobile-menu {
    margin-bottom: auto;
  }

  .mobile-menu-item:not(:last-child) {
    margin-bottom: 40px;

  }

  .mobile-contacts-item:not(:last-child) {
    margin-bottom: 40px;
  }

  .mobile-contacts {
    margin-bottom: 48px;
  }

  .mobile-contacts-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-contacts-link.accent {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #4D5AE5;
  }

  .mobile-team-soclist {
    display: flex;
    align-items: center;
    gap: 56px;
  }

  .mobile-team-soclink {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-team-icon {
    width: 24px;
    height: 24px;
}

  
  .mobile-menu-link {
    display: block;
    padding: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-decoration: none;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-link:hover, .mobile-menu-link:focus {
    color: #404BBF;
  }


/* меню мобільне */


@media screen and (max-width:767px) {
    .site-nav.list {
        display: none;
    }
    .contact.list {
        display: none;
    }

}

@media screen and (min-width:767px) {
    .head {
        display: flex;
        align-items: center;
    }
    .contact.list {
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        flex-direction: column-reverse;
}
}

@media screen and (min-width:1200px) {
    .head {
        display: flex;
        align-items: center;
    }
    .contact.list {
        display:flex;
        flex-direction: row;
    }
}



.site-nav .item:not(:last-child) {
    margin-right: 50px;
}

.current {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 22px;
        
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #4D5AE5;
}

.site-nav .link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;


}


.site-nav .current::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #4D5AE5;

}

/* Контакти */
.contact {
    display: flex;
    margin-left: auto;

}

.contact .item+.item {
    margin-left: 50px;
}

.contact a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact a:hover,
.contact a:focus {
    color: #4D5AE5;
}

/* Ефективні рішення */




.main-inf {

    background: #2F303A;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;

}



.overlay {
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;

    /* mobile */

    background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/mob@1xhero.jpg');

    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), 
  screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), 
  screen and (max-width: 767px) and (min-resolution: 192dpi), 
  screen and (max-width: 767px) and (min-resolution: 2dppx) {
    .overlay {
       
        background-image:  linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/mob@2xhero.jpg') ;
    }
  }

   

  @media screen and (min-width: 768px) {
    .overlay {
        
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/tab@1xhero.jpg');
    }
  }

  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), 
  screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), 
  screen and (min-width: 768px) and (min-resolution: 192dpi), 
  screen and (min-width: 768px) and (min-resolution: 2dppx) {
    .overlay {
        
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/tab@2xhero.jpg');
    }
  }

  @media screen and (min-width: 1200px) {
    .overlay {
        
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/desk@1xhero.jpg');
    }
  }



  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), 
  screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), 
  screen and (min-width: 1200px) and (min-resolution: 192dpi), 
  screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    .overlay {
        
        background-image: linear-gradient(to right, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), 
        url('../images/desk@2xhero.jpg');
    }
  }


  /* screen >= 769 */



.main-text {
    margin-bottom: 72px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}


@media screen and (min-width: 768px) {
    .main-text {
    width: 496px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 40px;

    font-weight: 700;
    font-size: 56px;
    line-height: 60px;
    }
}

/* desktop screen */

@media screen and (min-width: 1200px) {
    .main-text {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 48px;

    font-weight: 600;
    font-size: 56px;
    line-height: 60px;
    }

    .main-inf {
        padding-top: 188px;
        padding-bottom: 188px;
    }
}



/* кнопка "Замовити послугу" */

.button-buy {
    padding: 16px 32px;
    display: inline-block;
    border: none;
    background: #4D5AE5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    cursor: pointer;
    text-align: center;
    letter-spacing: 0.04em;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-buy:hover,
.button-buy:focus {

    background: #4D5AE5;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 4px;
}

.button-buy:active {
    background: #404BBF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

.backdrop.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: visibility 250ms, opacity 250ms;
}

.modal-window {
    
    min-width: 408px;
    min-height: 576px;
    background-color: #FCFCFC;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    position: absolute;
    padding: 24px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
    width: 24px;
    height: 24px;

}

.button-close {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    border-radius: 50%;
    background: #E7E9FC;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    width: 24px;
    height: 24px;
}


 .button-close:hover {
    fill: #FFFFFF;
    background-color: #404BBF;
}

.modal-order-form {
    width: 100%;
  }

.modal-form-title {
    margin-top: 24px;
    margin-bottom: 16px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #2E2F42;
  }

  .modal-list-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 4px;
  
    font-size: 12px;
    line-height: 16px;
    color: #8E8F99;
    text-align: left;
  }

  .form-field {
    position: relative;
    margin-bottom: 10px;
  }

  .modal-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-top: 10px;
  padding-bottom: 10px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;
}

.input-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
  }

  .modal-form-input:focus {
    border-color: #4D5AE5;
  }

  .modal-form-input:focus + .input-icon {
    fill: #4D5AE5;
  }

  .textarea {
    display: block;
    width: 100%;
    height: 120px;
    padding: 0;
    padding-top: 8px;
    padding-left: 16px;
  
    font-size: 12px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
  
    line-height: 16px;
    color: rgba(117, 117, 117, 0.5);
    resize: none;
  }

  .textarea:focus {
    border-color: #4D5AE5;
  }

  .checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
  
    font-size: 12px;
    line-height: 16px;
    color: #757575;
    
  }
  
  .checkbox-label > span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 16px;
    height: 16px;
    
  
    border: 1.25px solid #2E2F42;
    border-radius: 2px;
    margin-right: 8px;
  
    fill: transparent;
    transition-property: border, background-color, fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-check:checked + .checkbox-label > span {
    
    border: none;
    background-color: #404BBF;
  }

  .modal-check:focus + .checkbox-label > span {
    border-color: #4D5AE5;
  }

  .agrrement-link {
    padding-left: 5px;
    color: #4D5AE5;
    text-decoration: underline;
  }

  .modal-btn-submit {
    width: 200px;
    height: 50px;
    margin-top: 30px;
  
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
  
    background-color: #4D5AE5;
    color: #ffffff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-btn-submit:hover {
    background-color: #404BBF;
  }


/* текст заголовка */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


.icons {
    display: none;
}


   @media screen and (min-width:480px) {
    .main-list .item:not(:last-child){
        margin-bottom: 72px;
    }
   }

  


@media screen and (min-width:768px)  {
    .main-list .item:nth-child(2n + 1) {
            margin-bottom: 72px;
        }

    .main-list .item:nth-child(2n) {
        margin-bottom: 0;
    }
    
}





/* desktop screen */

@media screen and (min-width: 1200px) {
    .icons {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
        background-color: #F4F4FD;
        border-radius: 4px;
        margin-bottom: 8px;
    }
    .main-list {
        display: flex;
        
    }

    .main-list .item:nth-child(-n + 4) {
        margin-bottom: 0;
    }

}

.preority-icons {
    width: 70px;
    height: 70px;
    fill: currentColor;
}







.main-h {
    text-align: center;

    margin-top: 0;
    margin-bottom: 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2E2F42;

}


@media screen and (min-width: 768px) {
    .main-h {
    text-align: start;
}


.main-list {
    gap: 24px;
    columns: 2;
}
}

@media screen and (min-width: 1200px) {
    .main-h {
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    }
}

.main-about {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}



@media screen and (min-width: 1200px) {
    .main-about {
        font-weight: 400;
    }

}

.name img {
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.name.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


@media (min-width: 480px) {
    .name-card:not(:last-child) {
        margin-bottom: 72px;
    }

}



.name-card {
    width: 264px;
    background-color: #fff;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 768px) {
    .name {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
    }
    .name-card:nth-child(-n + 4) {
        margin-bottom: 0;
    }
}

/* desktop screen */

@media screen and (min-width: 1200px) {

    .name {
        text-align: center;
        display: flex;
        justify-content: space-between;
        
    }
    .name-card {
        
        width: calc((100% - 72px) / 4);
        background-color: #fff;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
            margin: 0;
    }
    
}






.position {
    width: 264px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.name-style {
    margin-bottom: 10px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.name-pos {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #434455;
}

.team-soclist {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 8px;
    list-style-type: none;
}

.team-socitem {
    width: 40px;
    height: 40px;
}

.team-soclist {
    
    justify-content: space-evenly;
}

.team-soclink {
    width: 40px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soclink:hover, .team-soclink:focus {
    background-color: #404BBF;
}

.team-icon {
    width: 16px;
    height: 16px;
}

.company-h {
    background: #F5F4FA;

}

.company-list img {
    display: block;
}

.company-list {
    display: flex;
    gap: 24px;
}

.title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #212121;
}

/* компанії */

.custom {
    display: flex;
    flex-wrap: wrap;
    row-gap: 24px;
    column-gap: 16px;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .custom {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 24px;
        justify-content: center;
    }
}

@media screen and (min-width: 1200px) {
    .custom {
    display: flex;
    justify-content: space-between;
    }
}






.customers-link {
    
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 88px;
    border: 1px solid #8E8F99;
    border-radius: 4px;
    fill: #8E8F99;

    transition-property: fill, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width:768px) {
    .customers-link {
        width: 168px;
    }
}

@media screen and (min-width:1200px) {
    .customers-link {
        width: 168px;
    }
}

.customers-link:hover, .customers-link:focus {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    fill: #4D5AE5;
}


.customers-icon {
    width: 104px;
    height: 56px;
    margin: 0;
    align-content: center;
    color: currentColor;
   
}

/* підвал */

@media screen and (min-width:480px) {
    .page-footer {
    padding-top: 96px;
    padding-bottom: 96px;
    }
    .page-footer .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media screen and (min-width:1200px) {
    .page-footer {
    padding-top: 100px;
    padding-bottom: 100px;
    }
}

@media screen and (min-width:767.99px) {
    .container.footer-inform {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        margin-left: 93px;
        

    }

    .footer-about {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        width: 264px;
    }

    .footer-submit .footer-social-text {
        display: flex;
        justify-content: flex-start;
    }


}

@media screen and (min-width:1200px) {
    .page-footer .container{
        display: flex;
        flex-wrap: nowrap;
        align-items: baseline;
        margin-left: auto;
        
    }
    .logo-footer {
        display: block;
        margin-bottom: 20px;
    }
    .footer-about {
        width: 264px;
        height: 110px;
    }

    
}

.page-footer {
    background: #2E2F42;
}

.logo-footer {
    display: flex;
    justify-content: center;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}



@media screen and (min-width:1200px) {
    .logo-footer {
        display: inline-block;
        justify-content: flex-start;
    }
}

.footer-social {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 72px;
}


@media screen and (min-width:768px) {   
    .footer-social {
        align-items: flex-start;
        margin-left: 120px;
    }
}

@media screen and (min-width:1200px) {
    .footer-social {
        margin-left: 120px;
        margin-bottom: 0;
    }
}

.footer-social-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    
    margin-bottom: 16px;
}

.list-social {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.add li:not(:last-child) {
    margin-bottom: 6px;
}

@media (min-width:480px) {
    .footer-about {
        width: 268px;
        margin-bottom: 72px;
      }
}




.footer-text {
    margin-bottom: 0;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #E7E9FC;
}

@media screen and (min-width:480px) {
    .logo-footer {
        margin-bottom: 16px;
    }
}

.contact-foot a {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #FFFFFF99
}



.item-social {
    width: 40px;
    height: 40px;
}

.item-social:not(:last-child) {
    margin-right: 16px;
}

.footer-item {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-item:hover, .footer-item:focus {
    background-color: #31D0AA;;
}
.footer-link {
    padding: 8px 8px;
}

.footer-submit {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    padding: 0;
}

@media screen and (min-width:768px) {
    .footer-submit {
        display: block;
        
    }

    .footer-form-input {
        width: 264px;
    }
}

@media screen and (min-width:1200px) {
    .footer-submit {
        
        position: relative;
        margin-left: 80px;
        padding: 0;
    }

    .footer-form-input {
        width: 264px;
    }


}

.signup-field {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;

}



@media screen and (min-width:1200px) {
    .signup-field {
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        width: 453px;
        
    
    }
}

.footer-form-input {
    width: 396px;
    height: 40px;

    background-color: #2E2F42;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
}

.footer-form-input::placeholder {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
}

.footer-submit-btn {
    display: flex;
    width: 165px;
    height: 40px;
    align-items: center;
    justify-content: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
    background: #4D5AE5;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.footer-submit-btn:hover, .footer-submit-btn:focus {
    background: #404BBF;
}

.sign-icon {
    margin-left: 16px;
    width: 24px;
    height: 24px;
}

/* ПОРТФОЛІО */

.btn {
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-bottom: 72px;
}

.btn .item {
    margin: 0;
    padding: 12px 24px;

    cursor: pointer;
    border: none;
    background: #F4F4FD;
    border-radius: 4px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #4D5AE5;

    transition-property: background-color, color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.btn .item:hover,
.btn .item:focus {
    color: #fff;
    background: #4D5AE5;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.portfolio-card {
    background: #FFFFFF;
    margin-right: 24px;
    margin-bottom: 48px;
    width: calc((100% - 48px) / 3);    
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
    
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    overflow: hidden;
}

.portfolio-card:hover, .portfolio-card:focus {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px 
        rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.portfolio-card img {
    display: block;
}

.overlay-thumb-text {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 40px 32px 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #F4F4FD;

    overflow: hidden;
    transform: translateY(360px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

 .portfolio-card .link:hover .overlay-thumb-text, 
 .portfolio-card .link:focus .overlay-thumb-text {
     transform: translateY(0);
 }


.overlay-thumb {
    position: relative;
    overflow: hidden;
}

.overlay-thumb::before {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #4D5AE5;

    transform: translateY(300px);
    transition-property: opacity;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
}

.portfolio-card .link:hover .overlay-thumb::before {
    transform: translateY(0);
}

.portfolio-card .link:focus .overlay-thumb::before {
    transform: translateY(0);
}


.portfolio-text {
    width: 360px;
    padding: 32px 16px;

}

.port-h {
    margin-bottom: 8px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #2E2F42;


}

.port-about {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: #434455;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.company-h.section {
    padding-top: 96px;
    padding-bottom: 128px;
}

/* tablet screen */

@media screen and (min-width: 768px) {
    .section {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    .company-h.section {
        padding-top: 96px;
        padding-bottom: 104px;
    }
}

/* desktop screen */

@media screen and (min-width: 1200px) {
    .section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .company-h.section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

.section.no-padding {
    padding-top: 0;
}

@media screen and (max-width: 1158px) {
    .section.no-padding {
        display: none;
    }
}


.port {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-card:nth-child(3n) {
    margin-right: 0;
}

.portfolio-card:nth-last-child(-n + 3) {
    margin-bottom: 0;
}